/*
#button {
	position: absolute;
	top: 60px;
}

body {
	background-image: url('/Images/Kale-salad.jpg');
	background-size: 5%;
   	background-repeat: no-repeat;
   	background-position: center;
}

background {
	width: 100%;
}
*/